{{define "createform"}}
<div class="uk-container uk-container-small">
  <form>
    <fieldset class="uk-fieldset">

        <div class="uk-margin">
            <input class="uk-input" type="text" name="name" placeholder="Name">
        </div>

        <div class="uk-margin">
          <input class="uk-input" type="text" name="age" placeholder="Age">
        </div>

        <div class="uk-margin">
          <input class="uk-input" type="text" name="email" placeholder="Email">
        </div>

        <button ic-post-to="/createform" ic-target="#main" class="uk-button uk-button-default">Submit</button>

    </fieldset>
  </form>
</div>
{{end}}