{{define "datatable"}}
<div class="uk-padding-small uk-container uk-container-small uk-align-center">
  <table class="uk-table uk-table-middle uk-table-hover uk-table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {{range .}}
        <tr>
            <td>{{.Name}}</td>
            <td>{{.Age}}</td>
            <td>{{.Email}}</td>
        </tr>
        {{end}}
    </tbody>
  </table>
</div>
{{end}}