{{define "deleteform"}}
<div class="uk-container uk-container-small">
  <form>
    <fieldset class="uk-fieldset">

        <div class="uk-margin">
            <input class="uk-input" type="text" name="name" placeholder="Name">
        </div>

        <button ic-post-to="/deleteform" ic-target="#main" class="uk-button uk-button-default">Delete</button>

    </fieldset>
  </form>
</div>
{{end}}