{{define "index"}}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="intercoolerjs:use-actual-http-method" content="true"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>CRUD</title>
<link rel="stylesheet" href="/assets/uikit.min.css">
<script src="/assets/jquery-3.4.1.min.js"></script>
<script src="/assets/intercooler.min.js"></script>
<script src="/assets/uikit-icons.min.js"></script>
<script src="/assets/uikit.min.js"></script>
</head>
<body>
<main>
{{template "navigation"}}
<div id="main"></div>
</main>
</body>
</html>
{{end}}