{{define "navigation"}}
<div class="uk-padding-small uk-container uk-container-small uk-align-center">
  <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-center">
      <ul class="uk-navbar-nav">
        <li><a ic-get-from="/createform" ic-target="#main" class="uk-button">Create</a></li>
        <li><a ic-get-from="/datatable" ic-target="#main" class="uk-button">Read</a></li>
        <li><a ic-get-from="/updateform" ic-target="#main" class="uk-button">Update</a></li>
        <li><a ic-get-from="/deleteform" ic-target="#main" class="uk-button">Delete</a></li>
    </ul>
    </div>
  </nav>
</div>
{{end}}