{{define "updateform"}}
<div class="uk-container uk-container-small">
  <form>
    <fieldset class="uk-fieldset">

        <div class="uk-margin">
          <input class="uk-input" type="text" name="currentname" placeholder="Current Name">
        </div>

        <hr>

        <div class="uk-margin">
            <input class="uk-input" type="text" name="name" placeholder="New Name">
        </div>

        <div class="uk-margin">
          <input class="uk-input" type="text" name="age" placeholder="New Age">
        </div>

        <div class="uk-margin">
          <input class="uk-input" type="text" name="email" placeholder="New Email">
        </div>

        <button ic-post-to="/updateform" ic-target="#main" class="uk-button uk-button-default">Submit</button>

    </fieldset>
  </form>
</div>
{{end}}